{% extends 'indexPromotion.html.twig' %}
{% block body %}
<div class="mainbox" id="mainbox">
<div class="box" id="box">
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
<div class="box1">
<span class="font span1"></span>
<span class="font span2"></span>
<span class="font span3"></span>
<span class="font span4"></span>
<span class="font span5"></span>
</div>
<div class="box2">
<span class="font span1"></span>
<span class="font span2"></span>
<span class="font span3"></span>
<span class="font span4"></span>
<span class="font span5"></span>
</div>
</div>
<button class="spin" onclick="spin()">spin </button>
</div>
<audio controls="controls" id="applause" src={{ asset('assets/audio/applause.mp3') }} type="audio/mp3"></audio>
<audio controls="controls" id="wheel" src={{ asset('assets/audio/wheel.mp3') }} type="audio/mp3"></audio>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src={{ asset('assets/js1/main.js') }}></script>
{% endblock %}