{% set imagePath = asset('images/example.png') %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste de réservations</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #ddd;
        }
        img {
            filter: grayscale(100%);
            width: 1px;
            transition: .5s ease;
            height : 1px;
        }
    </style>
    <style type="text/css">
        /* Fonts */
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
        /* Styles */
        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 1.6;
            color: #555;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
            margin-bottom: 1rem;
            font-weight: 700;
            line-height: 1.2;
        }
        p {
            margin-top: 0;
            margin-bottom: 1rem;
        }
        .container {
            background-color: #D3D3D3;
            border-radius: 16px;
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem;
        }
        .btn-container {
            text-align: center;
            margin-top: 2rem;
        }
        .logo {
            text-align: center;
            margin-bottom: 2rem;
        }
        .logo img {
            max-height: 60px;
            font-size: 40px;
        }
    </style>
</head>
<body>
<h3 style="font-size: 70px; color:#CFA0E9"><strong style="font-size: 100px;color: #F6B26B"></strong>TRIPEE</h3>

<h6>cité ghazela - Esprit</h6>
<h6>+216 92554097</h6>
<h2>Dear [Customer's Name],</h2>
<h5>I would like to thank you for your request to reserve a set of cars with Trippie. We are thrilled to provide you with multiple </h5>
<h5>safe and reliable means of transportation for your group trip.</h5>
<h5>We have received your reservation request for the following cars:</h5>

<table>
    <thead>
    <tr>
        <th>id Participation</th>
        <th> id co_voiturage </th>

        <th> number of seats reserved</th>
      

    </tr>
    </thead>
    <tbody>
    {% for row in tableData %}
        <tr>
            <td>{{ row.id}}</td>
            <td>{{ row.id_co}}</td>
            <td>{{ row.nmbr_place_part}}</td>
           

        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>


<h5>If you have any questions or concerns regarding your reservation or the rental process, please do not hesitate to contact us. We are always here to help and make your car rental experience as smooth and enjoyable as possible.</h5>
<h4>Best regards,</h4>
<h3>Trippie</h3>
</body>
</html>