{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search Coupons</h1>

    <form method="GET" action="{{ path('app_coupon_search') }}">
        <input type="text" name="query" value="{{ app.request.get('query') }}">
        <button type="submit">Search</button>
    </form>

    {% if not empty(coupons) %}
        <h2>Search Results</h2>
        <ul>
            {% for coupon in coupons %}
                <li>{{ coupon.code_coupon }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No coupons found.</p>
    {% endif %}
{% endblock %}
