{% extends 'indexClient.html.twig' %}

{% block title %}Unity Game{% endblock %}

{% block body %}
    <h1>Unity Game</h1>
    
<iframe id='webgl_iframe' frameborder="0" allow="autoplay; fullscreen; vr" allowfullscreen="" allowvr=""
    mozallowfullscreen="true" src="https://play.unity.com/webgl/1f156f69-4279-41d0-9ba9-d687fbbfabfd?screenshot=false&embedType=embed"  width="810"
    height="640" onmousewheel="" webkitallowfullscreen="true"></iframe>
{% endblock %}
