{% extends 'login/login.html.twig' %}

{% block body %}
    <h1 class="mb-4">Réinitialisation de mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    {{ form_end(resetForm) }}
{% endblock %}
